body{
    font-family: Helvetica, sans-serif;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
}

/* ------ Header ------ */

header{
    width: 100%;
    position: fixed;
    height: 69px;
    background-color: black;
    border-bottom: 1px solid seashell;
    align-items: center;
    z-index: 1;
    top: 0px;
}


header img{
    height: 50px;
    padding-left: 10px;
}
header .menu {
    display: none;
}

nav{
    text-align: right;
    flex-grow: 1;
}

nav span {
    display: inline-flex;
    padding: 20px 10px;
    margin-right: 20px;
}

a{
    color: seashell;
}

.nav-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/* ------ Banner (Mission) ------ */
.main{
    
    padding-top: 70px;
    overflow: scroll;
    opacity: 0.9;
    width: 1200px;
    margin: auto;

}

#mission{
    background-image: url(https://github.com/domingues-dev/tea-cozy/blob/main/resources/images/img-mission-background.jpg?raw=true);
    padding-top: 70px;
    height: 700px;
}

.banner{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.content{
    background: black;
    margin: auto;
    width: 100%;
}

/* ------ Featured teas ------ */

#features{
    width: 1000px;
    height: 700px;
    padding-top: 70px;  
    margin: auto;

}

.features-img-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.features-item{
    padding: 5px;
}

.features-img{
    height: 200px;
    padding: 10px;
    margin: auto;
    display: block;
}

span {
    text-align: center;
    padding: 10px;
}



/* ------ Locations ------ */

.locations-container{
    height: 500px;
    background-image: url(https://github.com/domingues-dev/tea-cozy/blob/main/resources/images/img-locations-background.jpg?raw=true);
    padding-top: 70px;
}

h2{
    margin: 0 auto;
}

h3{
    margin: 0 auto;
    padding: 15px;
}

.locations-items-container{
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
}

.locations-item{
    background-color: black;
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 15px 20px;
    justify-content: space-between;
    padding-top: 15px;
    padding-bottom: 15px;
}

span{
    padding: 15px;
}



/* ------ Footer ------ */

footer{
    height: 200px;
}

footer  h2 {
    padding-top: 20px;
}

.copyright{
    text-align: start;
}


/* ------ Media ------ */

@media only screen and (max-width: 550px) {
    nav span{
        display: none;
    }
    nav .menu {
        display: inline-flex;
        padding-right: 20px;
    }

}